/* Estilos base */
#header {
  width: 100%;
  height: 100px;
  background-color: #f7f6e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e2e1cc;
  }
}

.header-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

#header-navbar {
  display: flex;
  align-items: center;
}

.menu-options {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;

  .option {
    font-size: 20px;
    padding: 10px;
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;

    &:hover {
      color: #fff;
      transform: translateY(-5px);
    }
  }
}

.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }
}
