/* Galería */
/* Estilos base para la galería */
.gallery-item {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  /* Efecto hover */
  &:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen ligeramente */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Añade una sombra */
    filter: brightness(0.8); /* Oscurece ligeramente la imagen */
  }
}

/* Estilos específicos para cada imagen */
.gallery-item-1 {
  height: 400px;
  background-image: url('../images/1.webp');
}

.gallery-item-2 {
  height: 400px;
  background-image: url('../images/2.webp');
}

.gallery-item-3 {
  height: 400px;
  background-image: url('../images/3.webp');
}

.gallery-item-4 {
  height: 400px;
  background-image: url('../images/4.webp');
}

.gallery-item-5 {
  height: 400px;
  background-image: url('../images/5.webp');
}

.gallery-item-6 {
  height: 400px;
  background-image: url('../images/6.webp');
}

.gallery-item-michi-info {
  height: 300px;
  background-image: url('../images/michi-info.webp');
}
