/* SCSS main */

#main-bg {
  width: 100%;
  height: 1080px;
  background-image: url("../images/bg-1.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.bg-title {
  color: #fff;
  font-weight: 700;
  font-family: "Varela Round", sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.description {
  font-size: 40px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  max-width: 400px;
}

#info {
  margin-left: 30px;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info1 {
  width: 600px;
  height: 374px;
  margin-right: -120px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

  img {
    width: 600px;
    height: auto;
  }
}

.info2 {
  width: 600px;
  height: 374px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  margin-left: -120px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

  span {
    font-family: "Varela Round", sans-serif;
    font-size: 22px;
    font-weight: 400;
  }
}
