/* SCSS Productos */

#product-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
  text-align: center;

  .product-view-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    transition: color 0.3s ease;

    &:hover {
      color: #e2e1cc;
    }
  }

  .product-tbl {
    width: 100%;
    border-collapse: collapse;

    td {
      text-align: center;
      vertical-align: middle;
      padding: 20px;
    }
  }

  .product-title {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: #ff7f50;
      transform: scale(1.05);
    }
  }

  .product-desc {
    margin: 20px 0;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    transition: color 0.3s ease;

    &:hover {
      color: #555;
    }
  }

  .product-btn {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 80px;
    padding: 10px 5px;
    background-color: #f7f6e4;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #e2e1cc;
      transform: translateY(-5px);
    }
  }

  .product-img {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .card-img-top {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-bg-1 {
    background-image: url('../../images/7.jpg') !important;
  }

  .img-bg-2 {
    background-image: url('../../images/8.jpg');
  }

  .img-bg-3 {
    background-image: url('../../images/9.jpg');
  }

  .img-bg-4 {
    background-image: url('../../images/10.jpg');
  }

  .img-bg-5 {
    background-image: url('../../images/11.jpg');
  }

  .img-bg-6 {
    background-image: url('/images/13.jpg');
  }
}
